@model LaunSys.Models.ExpensesViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EXOENSES INFORMATION PANEL</h2>
<style>
    .modal-dialog {
        width: 300px;
        height: 700px /*!important*/;
    }

    .modal-content {
        /* 80% of window height */
        height: 100%;
        background-color: #BBD6EC;
    }

    .modal-header {
        background-color: #337AB7;
        padding: 16px 16px;
        color: #FFF;
        border-bottom: 2px dashed #337AB7;
    }

    .error {
        color: red;
    }
</style>


<div class="row">
    <div classs="form-group col-lg-12" style="margin-left:20px;margin-right:20px">
        @*------------------button for add new data -------------------------------------*@
        <a href="#" class="btn btn-primary btn-block btn-lg" onclick="AddEditExpenses(0)" style="margin-bottom:20px">New Income</a>

        @*------------------ --------------------------------------------------------*@
        <table class="table table-responsive table-striped display" id="ExpensesTable" style="margin-top:20px">
            <thead>
                <tr>

                    <th>Date</th>
                    <th>Inc_SN</th>
                    <th>Description</th>
                    <th>Inv_No</th>
                    <th>Amount</th>
                    <th>Branch</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.ListOfExpensesData != null)
                {
                    foreach (var item in ViewBag.ListOfExpensesData)
                    {
                        <tr id="row_@item.Id">
                            <td>@item.Date</td>
                            <td>@item.Inc_SN</td>
                            <td>@item.Description</td>
                            <td>@item.Inv_No</td>
                            <td>@item.Amount</td>
                            <td>@item.Branchname</td>

                            <td><a class="btn btn-xs btn-danger" href="#" onclick="ConfirmDelete(@item.Id)"><i class="glyphicon glyphicon-trash"></i></a></td>
                            <td><a class="btn btn-xs btn-success" href="#" onclick="ShowExpenses(@item.Id)"><i class="glyphicon glyphicon-eye-open"></i></a></td>
                            <td><a class="btn btn-xs btn-success" href="#" onclick="AddEditExpenses(@item.Id)"><i class="glyphicon glyphicon-pencil"></i></a></td>

                        </tr>
                    }
                }
            </tbody>
        </table>

        <input type="hidden" name="Id" value="" id="HiddenExpensesID" />

        @*------------------modal for Delete confirmation -------------------------*@

        <div class="modal fade" id="DeleteModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Delete Income?</h3>
                        <a href="#" class="close" data-dismiss="modal">&times;</a>
                    </div>
                    <div class="modal-body">
                        <h4>Are You sure you want to Delete the Expenses?</h4>

                        <div style="text-align:center; display:none" id="loaderDiv">
                            <img src="~/Content/loading.gif" width="100" />
                        </div>

                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn  btn-default" data-dismiss="modal">Cancel</a>
                        <a href="#" class="btn  btn-success" onclick="DeleteExpenses()">Proceed</a>
                    </div>
                </div>
            </div>
        </div>

        @*------------------modal to view individual Client -------------------------*@

        <div class="modal fade" id="ViewSingleUserModal">
            <div class="modal-dialog" style="width: 300px; height: 520px !important;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">View Expnses Details</h2>
                        <a href="#" class="close" data-dismiss="modal">&times;</a>
                    </div>
                    <div class="modal-body" id="SingularInfoDiv">

                        @Html.Partial("SingleExpensesView");

                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn  btn-default" data-dismiss="modal">close</a>
                    </div>
                </div>
            </div>
        </div>
        @*------------------------------------------Add/EDIT modal-------------------------------------------------*@
        <div class="modal fade" id="AddEditIncomeModalDiv">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Add Edit Income Details</h3>
                        <a href="#" class="close" data-dismiss="modal">&times;</a>
                    </div>
                    <div class="modal-body" id="AddEditModalBody">

                        @*---------THE ADD EDIT FORM LOADS HERE*@

                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn  btn-default" data-dismiss="modal">close</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    @*<div class="col-lg-6">

        </div>*@
</div>

<script>

  $(function () {
      $('#UserTable').DataTable({
      'paging'      : true,
      'lengthChange': true,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
  })

    //


</script>
