@model LaunSys.Models.UsersViewModel

@*@{
    Layout = null;
}*@

<form id="UserInfoForm">

    @Html.HiddenFor(Model => Model.UserId)


    @Html.TextBoxFor(Model => Model.Email, new { @id = "Email", @class = "form-control", @placeholder = "Enter User Email" })
    @Html.ValidationMessageFor(Model => Model.Email, "", new { @class = "error" })
    @{
        if (Model.UserId > 0)
        {
            @Html.TextBoxFor(Model => Model.Password, new { @id = "Password", @class = "form-control", @readonly=true, @placeholder = "Enter User Password" })
            @Html.ValidationMessageFor(Model => Model.Password, "", new { @class = "error" })

        }
        else
        {
            @Html.TextBoxFor(Model => Model.Password, new { @id = "Password", @class = "form-control", @placeholder = "Enter User Password" })
            @Html.ValidationMessageFor(Model => Model.Password, "", new { @class = "error" })

        }
    }
   

    @Html.DropDownListFor(Model => Model.RoleId, ViewBag.VRoleLists as SelectList, "---Select Role---", new { @id = "RoleId", @class = "form-control" })
    @*@Html.ValidationMessageFor(Model => Model.TitleID, "", new { @class = "error" })*@

    @Html.DropDownListFor(Model => Model.DivisionId, ViewBag.VDivisionLists as SelectList, "---Select Division---", new { @id = "DivisionId", @class = "form-control" })
    @*@Html.ValidationMessageFor(Model => Model.TitleID, "", new { @class = "error" })*@

    @Html.DropDownListFor(Model => Model.BranchId, ViewBag.VBranchLists as SelectList, "---Select Branch---", new { @id = "BranchId", @class = "form-control" })
    @*@Html.ValidationMessageFor(Model => Model.TitleID, "", new { @class = "error" })*@

    @Html.DropDownListFor(Model => Model.DeptId, ViewBag.VDeptLists as SelectList, "---Select Department---", new { @id = "DeptId", @class = "form-control" })
    @*@Html.ValidationMessageFor(Model => Model.TitleID, "", new { @class = "error" })*@

    @Html.DropDownListFor(Model => Model.StatusId, ViewBag.VStatusLists as SelectList, "---Select Status---", new { @id = "StatusId", @class = "form-control" })
    @*@Html.ValidationMessageFor(Model => Model.TitleID, "", new { @class = "error" })*@





    @*@Html.EditorFor(Model => Model.CreatedDate, new { htmlAttributes= new { @Value = Model.CreatedDate.ToString("MM/dd/yyyy"), @class = "form-control" } })*@

    <a href="#" id="btnsubmit" @*onclick="return AddEdit()"*@ class="btn btn-success btn-block">
        @if (Model.UserId > 0)
        {<span>Update</span>}
        else
        {<span>Save</span>}
    </a>



</form>
<div style="text-align:center; display:none" id="loaderDiv">
    <img src="~/Content/loading.gif" width="100" />
</div>

<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>
        $("#btnsubmit").click(function () {


            $("#loaderDiv").show();
            var data = $("#UserInfoForm").serialize();
            if (!$("#UserInfoForm").valid()) {
                return false;
            }


            $.ajax({
                type: "POST",
                url: "/Users/Index",

                data: data,
                success: function (response) {

                    $("#loaderDiv").hide();
                    alert("User Modified/Inserted");
                    //$("#ClientModal").modal("hide");
                    window.location.href = "/Users/Index";
                }
            })
        })
    //})
</script>